# We separate out requirements that are specific to the build, but not
# necessary for operation to minimize the size of containers

# Tests
pytest==7.2.2
pytest-timer==0.0.11

# Code quality
flake8==6.0.0
pylint==2.17.2

# Special pylint extensions
pylint-protobuf==0.20.2
