# We separate out requirements that are specific to the build, but not
# necessary for operation to minimize the size of containers

# Tests
pytest==8.0.2
pytest-timer==1.0.0

# Code quality
flake8==7.0.0
pylint==3.1.0

# Special pylint extensions
pylint-protobuf==0.22.0

setuptools>=74.1.2
