# We separate out requirements that are specific to the build, but not
# necessary for operation to minimize the size of containers

# Tests
pytest==7.4.3
pytest-timer==0.0.11

# Code quality
flake8==6.1.0
pylint==3.0.2

# Special pylint extensions
pylint-protobuf==0.21.0
