[flake8]
max-line-length = 120
exclude =
    artifacts,
    backend/grpc/generated,
    build_scripts,
    cmd,
    deployment,
    internal,
    metrics,
    nextfront,
    proto,
    serving/adapter/grpc_gen/generated,
    trained_prescriptors
